i*{
   margin: 0;
   padding: 0;
}
::-webkit-scrollbar{
   width: 0;
}
body{
   margin: 0;
   padding: 0;
   background-color: rgb(219, 219, 219);
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   width: 200%;
   height: 100vh;
   overflow: hidden;
   
}
section{
   position: relative;
   height: 100vh;
   width: 100%;
   transition: transform 0.5s ease-in-out;
}
.home{
   display: flex;
   flex-direction: column;
   justify-content: start;
   padding: 20px 0 0 0;
   align-items: center;
   width: 100%;
   height: 100vh;
}
.home-title{
   background-color: white;
   width: 90%;
   border-radius: 5px;
   display: grid;
   place-content: center;
}
.home-title h1{
   font-weight: 700;
   font-size: 50px;
   color: rgb(177, 31, 31);
}
.home-title span{
   font-weight: 300;
   font-size: 40px;
   color: rgb(21, 136, 56);
}
.home-days{
   width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
}
.day{
   width: 100%;
   height: 40px;
   margin: 10px;
   display: grid;
   place-content: center;
   grid-gap: 10px;
   grid-template-columns: 3fr 2fr 1fr;
   background-color: white;
   border-radius: 5px;
}
.day p{
   margin: 5px;
   padding: 0 5px;
   font-size: 24px;
   color: rgba(0, 0, 0, 0.884);
}
.day .push-pull{
   color: white;
   border-radius: 5px;
   margin:5px 17px;
   text-align: center;
   display: flex;
}
.pull{
   background-color: rgb(37, 131, 65);
}
.push{
   background-color: rgb(175, 102, 54);
}
.rest{
   background-color: rgb(53, 102, 143);
}
.leg{
   background-color: rgb(61, 61, 61);
}
.combobox{
   color: rgb(65, 65, 65);
   border-radius: 3px;
   height: 30px;
   margin-top: 5px;
   outline: none;
   font-size: 18px;
   display: none;
}
.combobox option{
   font-size: 14px;
}
.checkboxHolder{
   position: relative;
}

.checkbox{
   width: 30px;
   aspect-ratio: 1;
   outline: none;
   border: none;
   background-color: rgb(219, 219, 219);
   margin: 5px 5px 5px 15px;
   display: flex;
   accent-color: rgb(21, 136, 56);
}
.checkbox:checked {
   background-color: blue;
}
.home-footer{
   width: 80%;
   display: flex;
   margin-top: 20px;
   justify-content: end;
}
.home-footer button{
   border: none;
   width: 40px;
   aspect-ratio: 1;
   background-color: rgb(219, 219, 219);
}
.home-footer button img{
   width: 100%;
   opacity: .7;
}
.home-edit{
   display: flex;
}
.home-save{
   display: none;
}


.next-title{
   height: 140px;
}
.add{
   width: 50px;
   aspect-ratio: 1;
   margin-top: 40px;
   display: flex;
   justify-content: center;
}
.add img{
   width: 100%;
   opacity: .3;
}
.list-element{
   width: 100%;
   height: 40px;
   margin: 10px;
   display: grid;
   place-content: center;
   grid-gap: 10px;
   grid-template-columns: 1fr 40px;
   background-color: white;
   border-radius: 5px;
   align-items: center;
}

.list-element p{
   margin: 5px;
   padding: 0 5px;
   font-size: 24px;
   color: rgba(0, 0, 0, 0.884);
   display: flex;
}
.list-element img{
   width: 30px;
   opacity: .6;
   display: flex;
}
.input-page2{
   display: flex;
   border: none;
   background-color: rgb(255, 255, 255);
   color: rgba(0, 0, 0, 0.616);
   margin: 0 10px;
   height: 30px;
   outline: none;
   font-size: 20px;
   border-radius: 5px;
   
}
.add-mark-page2{
   display: flex;
}
.check-mark-page2, .close-mark-page2{
   display: none;
   opacity: .7;
   width: 100%;
   margin: 0 30px;
}